body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  /* background-image: url("../img/morning.png"); */
}

.site-header {
  border-top: 5px solid #383737;
  border-bottom: 1px solid #e8e5e5;
  min-height: 56px;

  /* Positioning context for the mobile navigation icon */
  position: relative;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  /* @extend %clearfix; */

  /* background-color: purple; */
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title {
  font: 26px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  /* font-size: 26px; */
  /* font-weight: 300; */
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #282727;
}

.site-title:visited {
  color: #282727;
}


.site-nav {
  float: right;
  line-height: 56px;
}


.page-link {
  color: #111;
  line-height: 1.5;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-icon {
  display: none;
}

.page-link:not(:last-child) {
  /* margin-right: 20px; */
  margin-right: 40px;
}

.about {
  /* background-image: url("../img/morning.png"); */
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  min-height: 400px;
}

.about-text {
  letter-spacing: -1px;
  color: #282727;
  margin-right: 20%;
  margin-left: 20%;
  /* margin-bottom: 0;
  padding-bottom: 0; */
}


.projects-page {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.contact {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  min-height: 400px;
}

.project {
  /* background-color: red; */
  margin-top: 30px;
  margin-bottom: 50px;
}

.project-text {
  letter-spacing: -1px;
  color: #282727;
  margin-right: 20%;
  margin-left: 20%;
  /* margin-bottom: 0;
  padding-bottom: 0; */
}

.project-title {
  line-height: 56px;
  font: 26px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
  display: block;
  margin-bottom: 10px;
  /* border-bottom: 1px solid black; */
}

.added-image {
  margin-right: auto;
  margin-left: auto;
}

.pixel-image {
  margin-right: auto;
  margin-left: auto;
}

.color-image {
  max-width: 100%;
}

.normal-image {
  display: block;
  height: 350px;
}

.pair-container {
  margin-left: 5%;
  margin-right: 5%;
}

.pair-image {
  height: 300px;
}

.short-image {
  display: block;
  height: 180px;
}

/* .pair-image-small {
  height: 300px;
} */

.description {
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200
}

.about-greeting {
  font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #26e23c;
}

.inner-link {
  /* color: blue; */
  color: #42cef4;
  /* color: #398bba; */
  /* color: #5ed2f2; */
}

.contact-link {
  /* color: #0c0101 */
  color: #2c9ca0;
}

.details {
  margin-top: 20px;
}

.sub-section {
  font: 23px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
}

.sub-section path {
  fill: #383737;
}

.extra-content {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.hide-content {
  display: none;
}


/* horizontal line between projects */
.border {
  border-top: 2px solid black;
  margin-right: 20%;
  margin-left: 20%;
}


.pale-edge {
  border: 1px solid black;
  border-radius: 5px;
}

.select-border {
  border: 1px solid black;
  border-radius: 10px;
  padding: 7px;
}

.cross {
  float: left;
}

rect {
  fill: rgb(0,0,255);
}

.name-structure {
  max-width: 150px;
  cursor: pointer;
  /* border: 1px solid black;
  border-radius: 25px; */
}

.name-structure:hover {
  text-decoration: underline;
}

.name-design {
  max-width: 120px;
  cursor: pointer;
}

.name-design:hover {
  text-decoration: underline;
}

.name-running {
  max-width: 290px;
  cursor: pointer;
}

.name-running:hover {
  text-decoration: underline;
}

.cross {
  cursor: pointer;
}

/* pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 5px;
} */

.display-code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 10px 5px;
}


.site-footer {
  border-top: 1px solid #e8e5e5;
  /* padding: 30px 0; */
}

/* .end-list {
  display: block;
} */

.footer-heading {
  font-size: 18px;
  /* margin-bottom: 15px; */
  /* margin-right: auto; */
  /* margin-left: auto; */
}

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  /* margin-left: -15px; */
  margin-left: -38px;
  /* @extend %clearfix; */
  height: 200px;
  background-color: green;


  /* float: left; */
  /* height: 200px; */
}

.footer-col {
  float: left;
  margin-bottom: 15px;
  background-color: red;
  /* padding-left: 15px; */
}

.footer-col-1 {
  /* width: -webkit-calc(35% - 15px); */
  /* width:         calc(35% - 15px); */
  /* width: 35% - 15px; */
  width: 25%;
  /* width: 33%; */
}

.footer-col-2 {
  /* width: -webkit-calc(20% - 15px);
  width:         calc(20% - 15px); */
  width: 20%;
}

.footer-col-3 {
  /* width: -webkit-calc(45% - 15px); */
  /* width:         calc(45% - 15px); */
  width: 25%;
  /* width: 33%; */
}

.social-media-list {
  list-style: none;
  margin-left: -30%;
}

.site-end {
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  /* font-size: 26px; */
  /* font-weight: 300; */
  line-height: 20px;
  /* line-height: 40px; */
  letter-spacing: -1px;
  /* margin-bottom: 0; */
  /* float: left; */
  color: #282727;
}

/* .wrapper:after {
  content: "";
  display: table;
  clear: both;
} */

/* .end-len {
  height: 200px;
  display: block;
} */


.content-wrapper {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;

  /* justify-content: space-around; */
  justify-content: flex-start;
  /* justify-content: space-between; */
}

.flex-item {
  /* background: tomato; */
  padding: 5px;
  /* padding: 5px 5px 5px 0; */
  /* width: 200px;
  height: 150px; */
  /* margin-top: 10px; */
  margin-right: 4%;

  /* text-align: center; */

  /* font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font: 16px Arial, Helvetica, sans-serif;
  font-weight: 200;
  /* font-size: 26px; */
  /* font-weight: 300; */
  /* line-height: 30px; */
  /* line-height: 20px; */
  line-height: 20px;
  letter-spacing: -1px;
  /* margin-bottom: 0; */
  /* float: left; */
  color: #282727;
}

.contact-list {
  list-style: none;
  /* margin-left: 0; */
  margin-left: -45px;
}

.first-item {
  /* min-width: 25%; */
  min-width: 30%;
}

.second-item {
  /* min-width: 25%; */
  width: 20%;
}

.third-item {
  margin-right: 0;
  padding-right: 0;
}

.sub-title {
  color: #828282;
}

.statement {
  margin-top: 30px;
  margin-bottom: 10px;
}

.contact-info {
  padding-top: 5%;
  font: 20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  line-height: 40px;
}

em {
  text-decoration: underline;
  font-style: normal;
}

.clone-command {
  margin-right: 10%;
  margin-left: 0;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e5e5;
    border-radius: 5px;
    text-align: right;
  }

  .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }

  .trigger {
    clear: both;
    display: none;
  }

  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
    /* background-color: blue; */
    /* background-color: yellow; */
    background-color: #d0fdfd;
  }

  .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .page-link:not(:last-child) {
    margin-right: 0;
  }

  .projects-page h3 {
    margin-left: 5%;
    margin-right: 5%;
  }

  .frogger-title {
    margin-left: 25%;
    margin-right: 20%;
  }

  .other-title span {
    /* margin-left: auto;
    margin-right: auto; */
    margin-left: 5%;
    margin-right: 2%;
  }

  .details h3 {
    margin-left: 0;
    margin-right: 0;
    /* margin-bottom: 0; */
  }

  .footer-col {
    /* float: none; */
    float: left;

    /* width: -webkit-calc(100% - 15px); */
    /* width:         calc(100% - 15px); */
    /* width: 100% - 15px; */
    width: 100%;
  }

  .extra-content ul {
    margin-right: 7%;
    /* font-weight: 500; */
    /*  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
    /* margin-left: -30px;
    line-height: 20px; */
  }

  .extra-content {
    font-weight: 400;
  }

  .description {
    font-weight: 400;
  }

  .pair-image {
    width: 100%;
    padding-bottom: 10px;
  }
  /* .pair-container {
  margin-right: 20%;
  } */

  .content-wrapper {
    flex-direction: column;
  }

  .second-item {
    /* background-color: red; */
    /* width: 90%; */
    min-width: 40%;
    /* margin-left: -2%; */
  }
  /* .sub-section {
  width: 100%;
  margin-right: 10%;
  margin-left: -10%;
  } */

  .flex-item {
    /* background: tomato; */
    /* padding: 0px; */
    padding: 5px;
    /* line-height: 10px; */
    line-height: 20px;
    margin-top: -40px;
    font-weight: 400;
  }

  .contact-list {
    font-weight: 400;
  }

  .footer-heading {
    margin-bottom: 30px;
  }

  .third-item {
    margin-top: -20px;
    margin-left: -2%;
  }

  .about {
    /* width: 100%; */
    margin-right: 0;
    margin-left: 0;
  }

  .about-text {
    /* background-color: red; */
    margin-left: 10%;
    margin-right: auto;
    /* margin-left: -100px; */
    /* margin-right: 0%; */
  }

  .page-link:hover {
    text-decoration: none;
  }
}

@media screen and (min-width: 800px) {
  .wrapper {
    max-width: 770px;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
  }

  .footer-col-1 {
    /* width: -webkit-calc(50% - 15px); */
    /* width:         calc(50% - 15px); */
    /* width: 50% - 15px; */
    /* width: 33%; */
    width: 25%;
    float: left;
  }

  .footer-col-2 {
    /* width: -webkit-calc(50% - 15px); */
    /* width:         calc(50% - 15px); */
    /* width: 50% - 15px; */
    /* width: 33%; */
    width: 25%;
  }

  .footer-col-3 {
    /* width: -webkit-calc(100% - 15px); */
    /* width:         calc(100% - 15px); */
    /* width: 33%; */
    width: 25%;
  }

  .special-margin {
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 50%;
    margin-right: 20%;
    height: 100px; */
  }

  .display-code {
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 799px) {
  .special-margin {
    /* margin-left: -12%; */
    width: 100%;
    /* margin-left: -80px; */
  }
}

@media screen and (max-width: 376px) {
  .added-image {
    height: 300px;
  }

  .second-item {
    margin-left: -2%;
  }

  /* .project-title {
    margin-right: 20%;
    margin-left: 30%;
  } */
}
