body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  /* background-image: url("../img/morning.png"); */
}

.site-header {
  border-top: 5px solid #383737;
  border-bottom: 1px solid #e8e5e5;
  min-height: 56px;

  /* Positioning context for the mobile navigation icon */
  position: relative;
  margin: 0;
  padding: 0;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  max-width: 740px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
  /* @extend %clearfix; */
}

@media screen and (min-width: 800px) {
  .wrapper {
    max-width: 770px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.site-title {
  font: 26px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  /* font-size: 26px; */
  /* font-weight: 300; */
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #282727;
}

.site-title:visited {
  color: #282727;
}


.site-nav {
  float: right;
  line-height: 56px;
}


.page-link {
  color: #111;
  line-height: 1.5;
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.menu-icon {
  display: none;
}

.page-link:not(:last-child) {
  /* margin-right: 20px; */
  margin-right: 40px;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e5e5;
    border-radius: 5px;
    text-align: right;
  }

  .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;

    > svg {
      width: 18px;
      height: 15px;
      path {
        fill: #383737;
      }
    }
  }

  .trigger {
    clear: both;
    display: none;
  }

  .site-nav:hover .trigger {
    display: block;
    padding-bottom: 5px;
    background-color: blue;
  }

  .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }

  .page-link:not(:last-child) {
    margin-right: 0;
  }

  .home h3 {
    margin-left: 5%;
    margin-right: 5%;
  }

  .project-title span {
    margin-left: 25%;
    margin-right: 20%;
  }

  .details h3 {
    margin-left: 0;
    margin-right: 0;
    /* margin-bottom: 0; */
  }

  /* .sub-section {
    width: 100%;
    margin-right: 10%;
    margin-left: -10%;
  } */
}

.home {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.project {
  /* background-color: red; */
  margin-top: 30px;
  margin-bottom: 50px;
}

.project-text {
  letter-spacing: -1px;
  color: #282727;
  margin-right: 20%;
  margin-left: 20%;
  /* margin-bottom: 0;
  padding-bottom: 0; */
}

.project-title {
  line-height: 56px;
  font: 26px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
  display: block;
  margin-bottom: 10px;
  /* border-bottom: 1px solid black; */
}

.added-image {
  margin-right: auto;
  margin-left: auto;
}

.normal-image {
  display: block;
  height: 350px;
}

.pair-container {
  margin-left: 5%;
  margin-right: 5%;
}

.pair-image {
  height: 300px;
}

.short-image {
  height: 180px;
}

/* .pair-image-small {
  height: 300px;
} */

@media screen and (max-width: 370px) {
  .added-image {
    height: 300px;
  }
  /* .project-title {
    margin-right: 20%;
    margin-left: 30%;
  }
  .description {
    margin-right: 5%;
    margin-left: 5%;
  } */
}

.description {
  font: 18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200
}

.inner-link {
  /* color: blue; */
  color: #42cef4;
  /* color: #398bba; */
  /* color: #5ed2f2; */
}

.details {
  margin-top: 20px;
  /* background-color: purple; */
}

.sub-section {
  font: 23px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 550;
  /* background-color: #5ed2f2; */
}

.sub-section path {
  fill: #383737;
}

.extra-content {
  font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
}

.hide-content {
  display: none;
}


/* horizontal line between projects */
.border {
  border-top: 2px solid black;
  margin-right: 20%;
  margin-left: 20%;
}


.pale-edge {
  border: 1px solid black;
  border-radius: 5px;
}

.cross {
  float: left;
}

rect {
  fill: rgb(0,0,255);
}

.topic-label {
  cursor: pointer;
}

.topic-label:hover {
  text-decoration: underline;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 5px;
}

.site-footer {
  border-top: 1px solid #e8e5e5;
  padding: 30px 0;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
}
